.AdsList {
  text-align: center;
  padding: 15px;
  margin-top: 2rem;
  font-weight: 300;
  display: flex;
  background: cover;
  flex-direction: column;
  min-height: 100%;
}
.Ads {
  border: solid #fff 0.2rem;
  width: 350px;
  height: 350px;
  padding: 0.1rem;
  margin: 0.4rem;
  float: left;
  border-radius: 2rem;

}
.WeBay{
 font-size: 4rem;
}
.images {
  border-radius: 2rem;
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: 2rem;
  border: double #fff 0.5rem;
  transition: transform .2s;
}

.images:hover {
  transform: scale(1.3);
}
