.AdsList {
  padding: 30px 0;
  margin-top: 2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Ads {
  width: 200px;
  height: 270px;
  padding: 0.1rem;
  margin: 0.4rem;
  float: left;
}

.images {
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: 0.1rem;
  transition: transform 0.2s;
}

.images:hover {
  transform: scale(1.3);
}
